.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #ccc; /* Линия снизу */
    border: none; /* Убираем рамку */
    border-bottom: 1px solid #ccc; /* Линия снизу */
    background: transparent; /* Прозрачный фон */
    margin: 0px 36px 30px;
}
@media screen and (max-width: 568px) {
    .popup__input {
        margin: 0px 22px 30px;
    }
  }
.popup__input:focus{
    outline: none;
}