.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background: transparent;
    margin-top: 0px;
    margin-left: 36px;
    margin-bottom: 13px;
    padding: 0;
}
@media screen and (max-width: 568px) {
    .popup__input {
        margin: 0px 22px 30px;
    }
  }
.popup__input:focus{
    outline: none;
}