.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background: transparent;
    margin-top: 0px;
    margin-left: 36px;
    margin-bottom: 30px;
    padding: 0;
    height: 27px;
    width: 358px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 568px) {
    .popup__input {
        margin: 0px 22px 27px;
        width: 238px;
    }
  }
.popup__input:focus{
    outline: none;
}