.popup__container {
    box-shadow: rgba(0, 0, 0, 0.15);
    width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    margin: auto;
}
@media screen and (max-width: 568px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }
  }